<div class="jumbotron">
  <h1>Signup</h1>
  
</div>
 
<div>
  <div class="form-group">
    <label for="user_name"> ID : 
    <input type="text" class="form-control" ng-model="name" id="user_name"></label>
  </div>
  <div class="form-group">
    <label for="user_age"> PASSWORD : 
    <input type="text" class="form-control" ng-model="age" id="user_age"></label>
  </div>
  <div class="form-group">
   <input type = "button" name="confirm_btn" value="확인" 
  ng-click="saveUserInfo()"/>
  </div>
</div>